html
    head
        title= _title
    body
        h1 Hello Jade
        ul
            -for(var i=0; i<5;i++) // 화면에 출력하는것이 아니라 프로그래밍적으로 코딩할려면 앞에 '-'를 붙여줘야함
                li coding
        div= time